
canvas {
  background-color: #b3b3b3;
  cursor:none;
}
#button1 {
  width: 100px;
  height: 50px;
}
#button2 {
  width: 100px;
  height: 50px;
}
#button3 {
  width: 100px;
  height: 50px;
}
#button4 {
  width: 100px;
  height: 50px;
}
